
body {
  background: url("../img/feedbackground.png");
}

h1{
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(23, 89, 111);
  margin-top: 20px; /* Adjust the top margin as needed */
  font-size: 160px;
  margin-left: 620px;
  margin-right: 300px;
  margin-bottom: 25px;

}


h2{
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(23, 89, 111);
  font-size: 22px;
  text-align: center;
  margin-left: 620px;
  margin-right: 300px;
  margin-bottom: 35px;
}

h4 {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  color:rgb(23, 89, 111)
}

.paragraph {
  font-family: "Cardo", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgb(23, 89, 111);
}

img {
  max-width: 40%;
  max-height: 50%;
}


.bringhercenter {
  text-align: center;
  max-width: 600px;
  margin-left: 650px;
  margin-right: 150px;
}

.myfriends {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: #9eab80;
  border: 2.5px rgb(23, 89, 111);
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  top: 35%;
  left: 7%;
  width: 50%;
  min-width: 250px;
  max-width: 315px;
  height: 495px;
  text-align: center;
  border-radius: 10%;
  opacity: 75%;
}

.littlesong {
  background-color:#9eab80;
  border: 2.5px rgb(23, 89, 111);
  position: relative;
  overflow: scroll;
  width: 100%;
  min-height: 130px;
  max-height: 500px;
  text-align: center;
  border-radius: 10%;
  color:rgb(23, 89, 111);
  opacity: 75%;

}

section {
  padding-top: 35px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

#entrywrapper {
  background: url("../img/entrywrapperbackground.png");
}


section img:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(23, 89, 111);
}

section img:hover{
  box-shadow: 0 0 20px rgb(23, 89, 111);
  text-shadow: 0 0 px rgb(23, 89, 111);
}

#exempt-image:hover:before {
  transform: scale(1); 
  box-shadow: none; 
}

#exempt-image:hover {
  color: inherit; 
  box-shadow: none; 
  text-shadow: none;
}

.backgroundtextbox{
background-color:#eebe9f;
padding-left: 6px;
padding-right: 6px;
display: inline-block;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-o-border-radius: 8px;
-ms-border-radius: 8px;
border-radius: 8px;
margin-bottom: 20px;
opacity: 75%;

}

a{
  display: block;
}

#logo {
  margin-right: 15px;
}

.thefeedlogo {
  top:15px;
  width:800px; /* Adjust the width as needed */
  height: 800px;
  position: fixed;
  left: 5%;
}



#longpinkflowerimg {
  position: absolute;
  right: 0;
  margin-bottom: 3px;
  width: 350px;
  height: auto;
}


  








